@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
/*
& + placeholder{}
@include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
} */

@mixin transition-default {
  transition: all 0.25s;
}

@mixin reset-vue2editor {
  a {
    color: $primary;
    text-decoration: none;
    font-weight: 600;
    @include transition-default;
    &:hover {
      color: $accent;
      @include transition-default;
    }
  }
  u,
  s {
    text-decoration: none;
  }
}
