// white
$isBlackTheme: false;

$primary: #000;
$primaryHalf: rgba(black, 0.75);
$grey: #c0c0c0;
$grey-light: #f8f8f8;
$accent: #c0c0c0;
$accent-bright: red;
$base-gradient: linear-gradient(327deg, #f9f9f9 0%, #f9f9f9 100%);

$background: white;
$background-accent: white;
$filterLogo: invert(0); // 0
