@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One:wght@400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100,400,500,600,700&display=swap");

$font: "Julius Sans One", sans-serif;
$secondFont: "Encode Sans Condensed", sans-serif;

[theme="light"] {
  // white
  $isBlackTheme: false;

  $primary: #000;
  $primaryHalf: rgba(black, 0.75);
  $grey: #c0c0c0;
  $grey-light: #f8f8f8;
  $accent: #c0c0c0;
  $accent-bright: red;
  $base-gradient: linear-gradient(327deg, #f9f9f9 0%, #f9f9f9 100%);

  $background: white;
  $background-accent: white;
  $filterLogo: invert(0); // 0
}

// [theme="dark"] {
// dark
$isBlackTheme: true;

$primary: #ccc;
$primaryHalf: rgba(black, 0.75);
$grey: #c0c0c0;
$grey-light: #f8f8f8;
$accent: #c0c0c0;
$accent-bright: red;
$base-gradient: linear-gradient(327deg, #f9f9f9 0%, #f9f9f9 100%);

$background: #333;
$background-accent: #444;
$filterLogo: invert(1); // 0
// }
