@import "reset-css";
// @import "/node_module/normalize.css/normalize.css";
@import "./variables";
@import "./mixins";
@import "./animations";
@import "./general";
@import "./uikit";
@import "./modules";

// put footer in the bottom of page
#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // overflow: hidden;
}
.content {
  flex-grow: 1;
  min-height: 50vh;
}

//
.header {
  width: 100%;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 26px 0 10px 0;
  background: hsla(0, 0%, 100%, 0.9);
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0;
  z-index: 99;
  &__social {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80px;
    li a svg {
      width: 16px;
      fill: $primary;
      @include transition-default;
      &:hover {
        fill: $accent;
        @include transition-default;
      }
    }
  }
  &__logo {
    display: block;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  &__nav {
    font-family: $font;
    align-self: center;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    li:not(.vsm-section) {
      position: relative;
      padding-right: 30px;
      &:last-child {
        padding-right: 0;
      }
    }

    // vsm menu
    // fix bug when dropdown mobile menu is hidden
    // but size of hidden menu have negative effect for layout
    .vsm-background {
      @media screen and (max-width: 1120px) and (min-width: 768px) {
        width: auto;
      }
    }
    // vsm mobile menu
    .vsm-section_mob {
      .vsm-mob-line,
      .vsm-mob-close:before,
      .vsm-mob-close:after {
        background-color: $primary;
      }
    }
    .vsm-mob-content {
      left: auto;
      right: 0;
      width: 100%;
      min-width: 320px;
      max-width: 100%;
      .vsm-mob-content__wrap {
        .vsm-mob-content__mob-menu {
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          a {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }
    .vsm-dropdown {
      top: 35px !important;
    }

    &-item {
      font-size: 1.1rem;
      height: auto;
      line-height: 1;
      text-transform: uppercase;
      text-decoration: none;
      color: $grey;
      @include transition-default;

      &.active {
        color: $primary;
        @include transition-default;
        &:hover {
          color: $accent-bright;
          @include transition-default;
        }
      }
      &:hover {
        color: $primary;
        cursor: pointer;
        @include transition-default;
      }
    }

    &-submenu {
      min-height: 0;
      cursor: pointer;
      ul {
        display: block;
      }
      li {
        display: block;
        position: relative;
      }
      &-item {
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        color: $grey;
        @include transition-default;

        &:hover {
          color: $primary;
          @include transition-default;
        }
      }
    }
  }
}

//
.shots {
  display: block;
  &__tags {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    .btn {
      margin: 0 2px;
      padding: 3px 4px;
      &.active {
        color: black;
      }
      &:hover {
        color: black;
        background-color: $grey-light;
      }
    }
  }
}

//
.contact {
  &__main {
    padding: 40px 0;
    width: 50%;
    min-width: 50%;
    margin: 0 auto;
  }
  &__top-container {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &__figure {
    width: 457px;
    height: 509px;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    background: $base-gradient;
    width: 100%;
    height: auto;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__info {
    width: 200px;
    width: 100%;
  }
  &__text {
    display: block;
    font: 1.1rem/1 $font;
    text-transform: uppercase;
    text-align: center;
    color: $primary;
    margin-bottom: 50px;
    a {
      display: block;
      text-decoration: none;
      color: $primary;
      margin-top: 10px;
      @include transition-default;
      &:hover {
        color: $accent;
        @include transition-default;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__social {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 120px;
    margin-bottom: 10px;
    li a svg {
      width: 18px;
      fill: $primary;
      @include transition-default;
      &:hover {
        fill: $accent;
        @include transition-default;
      }
    }
  }
  &__description {
    padding-top: 40px;
    font-family: $font;
    font-size: 1.6rem;
    line-height: 1.2;
    color: $grey;
    @include reset-vue2editor;
  }
  // calendar
  iframe {
    display: block;
    width: 100%;
  }

  @media (max-width: 1500px) {
    &__main {
      width: 80%;
    }
  }
  @media (max-width: 992px) {
    //
    .contact {
      &__main {
        width: 100%;
      }
      &__top-container {
        grid-template-columns: repeat(1, 1fr);
      }
      &__figure {
        width: 100%;
        height: auto;
        margin-left: 0;
        background: transparent;
      }
      &__img {
        width: 100%;
        max-width: 100%;
      }
      &__info {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 40px;
      }
      &__text {
        font: 1.5rem/1 $font;
        margin-bottom: 50px;
        a {
          margin-top: 10px;
        }
      }
      &__social {
        width: 120px;
        li a svg {
          width: 18px;
        }
      }

      iframe {
        display: block;
        width: 100%;
      }
    }
  }
}

//
.photos {
  &__preview {
    display: block;
    width: 100%;
  }
  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
    padding: 24px 0 16px;
    color: $grey;
  }
  &__description,
  &__credits {
    font-family: $font;
    font-size: 1.6rem;
    line-height: 1.2;
    color: $grey;
    @include reset-vue2editor;
  }
  &__description {
    padding: 8px 0 24px;
  }
  &__credits {
    padding: 26px 0;
  }
}

//
.works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
}
//
.work-page {
  &__title {
    padding: 26px 0;
    font: bold 1.6rem/1 $font;
    color: $grey;
    margin-bottom: 16px;
  }
  &__description {
    font: 1.6rem/1.2 $font;
    color: $grey;
    margin-bottom: 26px;
  }
  &__credits {
    font: 1.6rem/1.2 $font;
    padding: 26px 0;
    color: $grey;
    @include reset-vue2editor;
  }
}

//
.slider {
  position: relative;
  margin-bottom: 20px;

  &__slide {
    display: block;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    cursor: pointer;
    position: relative;
    .vimeo__play {
      position: relative;
      z-index: 1;
    }
    &-btn {
      border: none;
      border-radius: 4px;
      padding: 4px 8px;
      background-color: $primary;
      text-align: center;
      color: honeydew;
      cursor: pointer;
      transform: translate(-50%, -50%);
      position: absolute;
      top: -30px;
      left: 50%;
      z-index: 15;
      pointer-events: none;
      @include transition-default;
      &:hover {
        background-color: white;
        color: $primary;
        @include transition-default;
      }
    }
  }
  &__img {
    display: block;
    width: 100%;
    // object-fit: fill;
  }
  &__btn-more {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
}
.hooper {
  &:hover {
    .hooper-indicators,
    .hooper-prev,
    .hooper-next {
      opacity: 1;
      pointer-events: auto;
    }
    .slider__slide-btn {
      top: 30px;
      pointer-events: auto;
    }
  }

  &-indicators {
    opacity: 0;
    @include transition-default;
  }
  &-indicator {
    background-color: black;
    &.is-active {
      background-color: grey;
    }
  }

  &-prev,
  &-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    padding: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    @include transition-default;
    svg {
      display: block;
      fill: white;
      transform: scale(1.5);
    }
    &:hover {
      cursor: pointer;
      filter: invert(100%);
      @include transition-default;
    }
    &:is(.is-disabled) {
      cursor: not-allowed;
      filter: none;
    }
  }
}
//
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  &__code {
    display: block;
    box-sizing: border-box;
    width: 200px;
    max-width: 100%;
    font: bold 120px/1 $font;
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  &__text {
    font: bold 30px/1 $font;
    text-align: center;
    color: black;
  }
}

//
.footer {
  padding: 50px 0 20px 0;
  opacity: 0.5;
  &__social {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 120px;
    margin-bottom: 20px;
    li a svg {
      width: 18px;
      fill: $primary;
      @include transition-default;
      &:hover {
        fill: $accent;
        @include transition-default;
      }
    }
  }
  &__text {
    font: 1.1rem/1 $font;
    text-align: center;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 10px;
    a {
      color: $primary;
      text-decoration: none;
      @include transition-default;
      &:hover {
        color: $accent;
        @include transition-default;
      }
    }
  }
}

.calendar {
  display: flex;
  justify-content: center;
  iframe {
    display: block;
    width: 100%;
  }
}

////////////////////// MEDIA //////////////////////
@media (max-width: 992px) {
  //
  .home {
    .works {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  //
  .work-page {
    &__text {
      font-size: 1.6rem;
      padding: 16px 0;
      h1 {
        font-size: 2rem;
        margin-bottom: 8px;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  //
  .home {
    .works {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
