@import "reset-css";
@import "./variables";
@import "./mixins";
@import "./animations";
@import "./general";
@import "./uikit";
@import "./modules";

// put footer in the bottom of page
#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex-grow: 1;
  // background-color: blue;
  min-height: 50vh;
}

//
.header {
  width: 100%;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 26px 0 10px 0;
  background: white;
  position: sticky;
  top: 0;
  z-index: 99;
  &__social {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 80px;
    li a svg {
      width: 16px;
      fill: $primary;
      @include transition-default;
      &:hover {
        fill: $accent;
        @include transition-default;
      }
    }
  }
  &__logo {
    display: block;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  &__nav {
    font-family: $font;
    align-self: center;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    li:not(.vsm-section) {
      position: relative;
      padding-right: 30px;
      &:last-child {
        padding-right: 0;
      }
    }
    // vsm mobile menu
    .vsm-section_mob {
      .vsm-mob-line,
      .vsm-mob-close:before,
      .vsm-mob-close:after {
        background-color: $primary;
      }
    }
    .vsm-mob-content {
      left: auto;
      right: 0;
      width: 100%;
      min-width: 320px;
      max-width: 100%;
      .vsm-mob-content__wrap {
        .vsm-mob-content__mob-menu {
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          a {
            text-decoration: none;
            color: $primary;
          }
        }
      }
    }

    &-item {
      font-size: 1.1rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $grey;
      @include transition-default;

      &.active {
        color: $primary;
        @include transition-default;
        &:hover {
          color: $accent-bright;
          @include transition-default;
        }
      }
      &:hover {
        color: $primary;
        cursor: pointer;
        @include transition-default;
      }
    }

    &-submenu {
      min-height: 0;
      cursor: pointer;
      ul {
        display: block;
      }
      li {
        display: block;
        position: relative;
      }
      &-item {
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
        color: $grey;
        @include transition-default;

        &:hover {
          color: $primary;
          @include transition-default;
        }
      }
    }
  }
}

//
.shots {
  display: block;
  &__tags {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    .btn {
      margin: 0 2px;
      padding: 3px 4px;
      &.active {
        color: black;
      }
      &:hover {
        color: black;
        background-color: $grey-light;
      }
    }
  }
}

//
.contact {
  &__main {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &__figure {
    width: 457px;
    height: 509px;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    background: $base-gradient;
  }
  &__img {
    display: block;
  }
  &__info {
    width: 200px;
    padding-left: 150px;
  }
  &__text {
    display: block;
    font: 1.1rem/1 $font;
    text-transform: uppercase;
    text-align: center;
    color: $primary;
    margin-bottom: 50px;
    a {
      display: block;
      text-decoration: none;
      color: $primary;
      margin-top: 10px;
      @include transition-default;
      &:hover {
        color: $accent;
        @include transition-default;
      }
    }
  }
  &__social {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 120px;
    margin-bottom: 10px;
    li a svg {
      width: 18px;
      fill: $primary;
      @include transition-default;
      &:hover {
        fill: $accent;
        @include transition-default;
      }
    }
  }

  iframe {
    display: block;
    width: 100%;
  }
}

//
.home {
  .works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
  }
}
.work-page {
  &__video {
    padding: 0 19%;
    background-color: black;
  }
  &__text {
    padding: 32px 0;
    padding-left: 50px;
    font-size: 1.6rem;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }
}

//
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  &__code {
    display: block;
    box-sizing: border-box;
    width: 200px;
    max-width: 100%;
    font: bold 120px/1 $font;
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  &__text {
    font: bold 30px/1 $font;
    text-align: center;
    color: black;
  }
}

//
.photo-preview__title {
  display: block;
  padding: 20px 0;
  font: bold 2rem/1 $font;
  text-transform: uppercase;
  color: $primary;
  margin-bottom: 30px;
}

//
.footer {
  padding: 50px 0 20px 0;
  &__social {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 120px;
    margin-bottom: 20px;
    li a svg {
      width: 18px;
      fill: $primary;
      @include transition-default;
      &:hover {
        fill: $accent;
        @include transition-default;
      }
    }
  }
  &__text {
    font: 1.6rem/1 $secondFont;
    text-align: center;
    color: $primary;
    margin-bottom: 10px;
    a {
      color: $primary;
      text-decoration: none;
      @include transition-default;
      &:hover {
        color: $accent;
        @include transition-default;
      }
    }
  }
}

.calendar {
  display: flex;
  justify-content: center;
  iframe {
    display: block;
    width: 100%;
  }
}

// additional
.dev-author {
  display: block;
  width: 120px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 1rem;
  color: #ededed;
  @include transition-default;
  &:hover {
    color: purple;
    @include transition-default;
  }
}

////////////////////// MEDIA //////////////////////
@media (max-width: 992px) {
  //
  .home {
    .works {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  //
  .contact {
    &__main {
      padding: 40px 0;
      grid-template-columns: repeat(1, 1fr);
    }
    &__figure {
      width: 100%;
      height: auto;
      margin-left: 0;
      background: transparent;
    }
    &__img {
      width: 100%;
      max-width: 100%;
    }
    &__info {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      margin: 0 auto;
      margin-top: 40px;
    }
    &__text {
      font: 1.5rem/1 $font;
      margin-bottom: 50px;
      a {
        margin-top: 10px;
      }
    }
    &__social {
      width: 120px;
      li a svg {
        width: 18px;
      }
    }

    iframe {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  //
  .home {
    .works {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
